<body>
<div class="container pad-top">
  <!--<a ui-sref="newShipwreck" class="btn-primary btn-lg nodecoration">Add New Hiring</a>-->
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Scheduled Interviews</h3></td>
          <td></td>
      </tr>
      <td><h4>Name</h4></td>
      <td><h4>Designation</h4></td>
      <td><h4>Scheduled At</h4></td>
      <td><h4>            </h4></td>

      <tr ng-repeat="shipwreck in hiring">
          <td>{{shipwreck.name}}</td>
          <td>{{shipwreck.role}}</td>
          <td>{{shipwreck.scheduledAt}}</td>
          <td>
              <button class="btn btn-success" ui-sref="editShipwreck({id:shipwreck.id})" id="123">Start</button>
              <button class="btn btn-primary" ui-sref="viewShipwreck({id:shipwreck.id})">View Interview Details</button>
              <button class="btn btn-info"  onclick='alert("Interview Completed Notification sent"); this.disabled=true; document.getElementById("123").disabled=true;' >Done</button>
          </td>
      </tr>
  </table>

</div>
</body>
